<div
  class="bg-white dark:bg-gray-900 rounded-lg border border-gray-200 dark:border-gray-700 shadow-sm hover:shadow-md transition-all w-full h-full flex flex-col overflow-hidden">
  <!-- Image -->
  <div
    class="h-52 overflow-hidden border-b border-gray-200 dark:border-gray-700 flex items-center justify-center bg-white">
    <img class="w-full h-full object-contain"
      [src]="product().pictures[0].file ? 'data:' + product().pictures[0].mimeType + ';base64,' + product().pictures[0].file : ''"
      [alt]="product().name || 'Product Image'" />
  </div>

  <!-- Body -->
  <div class="flex flex-col flex-1 justify-between p-4">
    <!-- Name & Price -->
    <div>
      <h2 class="text-base font-semibold text-gray-800 dark:text-gray-100 mb-1 line-clamp-1">
        {{ product().name }}
      </h2>
      <p class="text-green-600 dark:text-green-400 font-bold text-sm mb-2">$ {{ product().price }}</p>
      <p class="text-gray-600 dark:text-gray-400 text-sm line-clamp-3">
        {{ product().description }}
      </p>
    </div>

    <!-- Actions & Category -->
    <div class="mt-4">
      <div class="flex items-center justify-between mb-3">
        <div class="flex items-center gap-2">
          <button (click)="onClickNavigate()" class="btn btn-sm btn-ghost tooltip" data-tip="View Detail">
            <fa-icon [icon]="faEye" class="text-gray-600 dark:text-gray-300"></fa-icon>
          </button>
          <button (click)="toggleFavoriteItem()"
            [ngClass]="{'btn btn-sm': true,'btn-error': isFavorite,'tooltip': true}">
            <fa-icon [icon]="faHeart" class="text-lg heart-animate" [ngClass]="getFavoriteIconClass()"></fa-icon>
          </button>
        </div>
        <div>
          <div class="badge badge-outline capitalize text-xs text-gray-600 dark:text-gray-300 border">
            {{ product().category.name }}
          </div>
        </div>
      </div>

      <!-- Add to Cart -->
      <div *ngIf="!isConnected()">
        <button (click)="login()"
          class="btn btn-primary btn-sm w-full bg-sky-500 px-1 py-1 text-white hover:bg-sky-400">
          <fa-icon [icon]="faCartShopping" class="mr-2"></fa-icon>
          Add to Cart
        </button>
      </div>

      <div *ngIf="isConnected()">
        <button [disabled]="isInCart()" (click)="addItem()"
          [ngClass]="isInCart() ? 'btn btn-primary btn-sm w-full bg-sky-200 px-1 py-1 text-white hover:bg-sky-200' : 'btn btn-primary btn-sm w-full bg-sky-500 px-1 py-1 text-white hover:bg-sky-400'">
          <fa-icon [icon]="faCartShopping" class="mr-2"></fa-icon>
          Add to Cart
        </button>
      </div>
    </div>
  </div>
</div>