<section class="w-full mt-10 pb-16 px-6">
  <div *ngIf="isLoading(); else showProducts" class="grid grid-cols-1 md:grid-cols-3 gap-6 max-w-6xl mx-auto">
    <div class="flex justify-center items-center w-full py-10">
      <div class="animate-spin rounded-full h-12 w-12 border-t-4 border-blue-500 border-opacity-50"></div>
    </div>
  </div>

  <ng-template #showProducts>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 max-w-6xl mx-auto">
      <ecom-product-card *ngFor="let product of visibleProducts; trackBy: trackByProductId"
        [product]="product"></ecom-product-card>
    </div>

    <div *ngIf="isShowMoreVisible()" class="flex justify-center mt-6">
      <button (click)="showMore()" class="btn btn-primary px-6">Show More</button>
    </div>
  </ng-template>
</section>